body{
    background-color: #000;
}

.clock{
    color: lime;  
    font-size: 60px;
    font-family: orbitron;
    letter-spacing: 7px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}