*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background-color: bisque;
}

.title{
    font-size: 2rem;
    text-align: center;
    margin: 0 auto 100px auto ;
    width: 400px;
    color: blue;
    border: 2px solid black;
}

table{
    min-width: 600px;
    height: auto;
    text-align: center;
}

input[type='button']{
    background-color: black;
    color: #fff;
    border: 2px solid black;
    width: 100%;
    font-size: 2rem;
}

input[type='text']{
    background-color: #fff;
    border: 2px solid #000;
    width: 100%;
    font-size: 2rem;
}