*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.title{
    margin-bottom: 10px;
    text-align: center;
    /* min-width: 210px; */
    color: blue;
    border: 2px solid black;
}

input[type='button']{
    background-color: black;
    color: #fff;
    border: 2px solid black;
    width: 100%;
}

inpu[type='text']{
    background-color: #fff;
    border: 2px solid #000;
    width: 100%;
}