*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
    margin-top: 100px;
    background-color: #333;
}

.container{
    display: inline-block;
    cursor: pointer;
    margin: auto;
}

.bar1, .bar2, .bar3{
    transition: 0.4s;
    width: 35px;
    height: 5px;
    background-color: #fff;
    margin: 6px 0;
}

/* rotate first bar */
.change .bar1{
    transform: translate(0px,11px) rotate(-45deg);
}

/* fade out the second bar */
.change .bar2{
    opacity: 0;
}

/* rotate the last bar */
.change .bar3{
    transform: translate(0px,-11px) rotate(45deg);
}

