body {
    font-family: 'Poppins';
    background-color: #dfdfdf;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

:root {
    --white: #FFF;
    --gray: #F3F3F3;
    --gray-mid: #9D9D9D;
    --gray-dark: #3e3e3e;
    --gray-hover: #F7F7F7;
}

.container {
	height: 360px;
	width: 360px;
	padding: 20px;
	margin: 10px;
	border-radius: 16px;
    background-color: var(--white);
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;	
}

header {
    position: relative;
}

.tab-content {
    display: none;
}

.tab-content--active {
    display: block;
}

.tabs {
    position: relative;
    display: flex;
    flex-grow: 1;
    flex-wrap: nowrap;
    border-bottom: 1px solid #F0F0F0;
}

.tabs > a {
    position: relative;
    display: flex;
    text-decoration: none;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: 600;
    color: var(--gray-mid);
    text-align: left;
    justify-content: start;
    align-items: center;
    gap: 8px;
}

.tabs > a img {
    height: 20px;
    width: 20px;
}

.tabs > .active {
    font-weight: 700;
    outline:none;
    color: var(--gray-dark);
    margin-bottom: -1px;
    border-bottom: 1px solid var(--gray-dark);
}

.tabs > a > svg {
    stroke: var(--gray-mid);
}

.tabs > .active > svg {
    stroke: var(--gray-dark);
}

.record {
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: center;
    gap: 12px;
    border-bottom: 1px solid #F0F0F0;
    padding: 16px 12px;
}

.record:hover, .record:focus {
    background-color: var(--gray-hover);
    outline: none;
    cursor: pointer;
}

.record:hover .avatar__wrapper {
    background-color: #E5E5E5;
}

.record .avatar {
    display: block;
    border-radius: 8px;
    flex-grow: 0;
    object-fit: cover;
}

.avatar--user {
    width: 40px;
    height: 40px;
}

.avatar--file {
    width: 24px;
    height: 24px;
}

.record .avatar__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 0;
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    background-color: #F7F7F7;
}

.content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;   
}

.content > .title {
    font-weight: 700;
}

.content > .description {
    font-size: smaller;
}

.status {
    position: absolute;
    right: -4px;
    bottom: -4px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    background-color: white;
    border-radius: 50%;
}

.status__inner {
    height: 10px;
    width: 10px;
    border-radius: 50%;
}

.status__inner--active {
    background-color: #00C853;
}

.status__inner--inactive {
    background-color: #F4BD50;
}

/* inspired by https://dribbble.com/shots/17399694-Search-Results-Animation */