@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
   margin: 0 auto;
  margin-top: 7px;
  /* margin-left: 7px; */
  /* margin-right: 7px; */
  position: relative;
  background: #eee;
  font-family: 'Nunito', sans-serif;
  width: 100%;
  font-size: 1.1rem;
}

.bg-showcase{
  margin: 0 auto;
  width: 95%;
  height: 50vh;
  background-color: #111;
  /* background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5)) ,url(img/bg\ image2.jpg); */
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)) ,url(img/kyusda2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  /* background-position: right; */
}

.bg-showcase-announcement1{
  margin: 0 auto;
  width: 95%;
  height: 50vh;
  background-color: #0e2125;
  background-image: url(img/announcement.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
.bg-showcase-announcement2{
  margin: 0 auto;
  width: 95%;
  height: 50vh;
  background-color: #0e2125;
  background-image: url(img/annoucement2.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}


img{
    width: 100%;
    height: auto;
    /* border: 2px solid #ccc; */
    /* padding: 10px; */
}


  /* Styles for the slideshow container */
  /* Set maximum width, position, and center the container */
  .slideshow-container {
    height: 50vh;
    overflow: hidden;
    width: 100%;
    /* max-width: 1000px; */
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Styles for the next and previous buttons */
  .prev, .next {
    /* display: none; */
    background-color: rgba(0,0,0,0.8);
    cursor: pointer;
    position: relative;
    width: 10px;
    height: 10px;
    padding: 16px;
    color: aqua;
    font-weight: 200;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;

    display: flex;
    justify-content: center;
    align-items: center;

  }
  
  /* Position the "next button" to the right and hide it */
  .next {
    display: none;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
  }

    /* Position the "prev button" to the left and hide it */
  .prev{
    display: none;
    position: absolute;
    top: 50%;
    left: 0;
    margin-left: 40px;
    transform: translate(-50%, -50%);
    border-radius: 50%;
  }
  
  /* On hover, add a light black background color */
  .prev:hover, .next:hover {
    background-color: #333;
  }

  /* show the control buttons when you hover */
  .slideshow-container:hover .prev,
  .slideshow-container:hover .next {
    display: flex;
}
  
  /* Styles for caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }

.slideshow-container .slideshow-text{
    opacity: 1;
    transition: opacity 0.3s; /* Add a transition for smooth fade-in/out */
   position: absolute;
   top: 50%;
   left: 35%;
   transform: translate(-50%, -35%);
   /* font-size: 2rem; */
   /* text-align: center; */
  }

  .slideshow-container .slideshow-text h2{
    color: #fff;
    /* margin-bottom: 10px; */
    text-shadow: 3px 4px 0 rgba(0,0,0,0.2);
    /* font-weight: 700; */
    font-weight: 300;
    font-size: 4rem;
    letter-spacing: 1px;
    word-spacing: 4px;
    text-transform: uppercase;
    /* font-family: Arial, Helvetica, sans-serif; */
  }

  .slideshow-container .slideshow-text .slogan{
    color: #fff;
    font-size: 1.5rem;
    padding-left: 20px;
    /* font-weight: 500; */
    /* font-family: Arial, Helvetica, sans-serif; */
    /* font-family: 'Sofia', cursive; */
    /* font-family: 'Flamenco', cursive, georgia, Arial, Helvetica, sans-serif;  */
   }

  .slideshow-container .slideshow-text .announcements{
    font-size: 1.5rem;
    font-weight: 400;
  }

  .date-text{
    font-weight: 400;
  }
  
  /* When hovering over the slideshow container, make the text visible */
  /* .slideshow-container:hover .slideshow-text{
    opacity: 1;    
  } */
  
  
  /* Styles for number text (1/3, etc.) */
  .numbertext {
    color: #f2f2f2;
    font-size: 1.2rem;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    left: 40px;
  }

  header{
    position: relative;
  }
  
  /* Styles for the dots/bullets/indicators */

  .dots{
    position: absolute;
    bottom: 20%;
    right: 5%;
    transform: translate(-5%, -20%);
  }

  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    /* background-color: #bbb; */
    /* background-color: #fff; */
    /* background-color: #053B50; */
    background-color: aqua;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  /* Styles for the active dot and hover effect */
  .active, .dot:hover {
    /* background-color: #717171; */
    background-color: #fff;
    /* background-color: #053B50; */
  }
  
  /* Fading animation */
  /* Define a keyframe animation named 'fade' */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  /* Keyframes for the 'fade' animation */
  @keyframes fade {
    from {
      opacity: .4;
    }
    to {
      opacity: 1;
    }
  }
















  





  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .site-wrap {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 50px;
    max-width: 1200px;
    margin: 70px auto;
    background: #eee;
    padding: 40px;
    text-align: left;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);
    transform: scale(0.98);
    transition: transform 0.5s;
    /* font-family: Arial, Helvetica, sans-serif; */
  }

  /* .about-us-img {
    display: grid;
    justify-content: center;
    align-items: center;
  } */

  .about-us-img img{
    /* transform: rotate(90deg); */
    width: 100%;
    width: 200px;
    height: 200px; 
    border-radius: 50%;
    margin: 150px 40px 0 40px;
  }

  .icons{
    position: absolute;
    bottom: 20%;
    left: 10%;
    transform: translate(-20%, -10%);
  }

  .icons a{
    padding: 8px;
  }
  

  .about-us-description h2{
    margin-bottom: 30px;
    text-align: center;
    font-size: 2.5rem;
    position: relative;
    /* font-weight: 300; */
  }

  .about-us-description h2::after{
    content: '';
    border-bottom: 4px solid rgba(5, 59, 80, 0.7);
    display: block;
    width: 30%;
    position: absolute;
    top: 40px;
    bottom: 0;
    left: 35%;
  }

  /* .about-us-description h2 p{
    letter-spacing: 1px;
    word-spacing: 4px;
  } */

  .about-text-title{
    margin: 10px 0 5px 0;
    /* color: #053B50; */
    color: #0e2125;
    font-weight: 900;
    font-size: 1.2rem;
    text-align: center;
  }

  /* .about-us-paragraphs{
    letter-spacing: 1px;
  } */
  
  
  body.fixed-nav .site-wrap {
    transform: scale(1);
  }
  
  /* header {
    text-align: center;
    height: 50vh;
    background: url(img/bg\ image.jpg) center center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
  } */
  
  /* h1 {
    color: white;
    font-size: 7vw;
    text-shadow: 3px 4px 0 rgba(0,0,0,0.2);
  } */
  
  nav {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* background: #053B50; */
    background: #0e2125;
    top: 0;
    width: 100%;
    /* height: 50px; */
    transition:all 0.5s;
    position: relative;
    z-index: 1;
    box-shadow: 0 4px 0 rgba(0,0,0,0.5);
  }
  
  body.fixed-nav nav {
    position: fixed;
    box-shadow: 0 4px 0 rgba(0,0,0,0.1);
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
  }
  
  nav li {
    flex: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 0 30px; */
  }
  
  li.logo {
    max-width: 0;
    overflow: hidden;
    background: white;
    /* background: #333; */
    transition: all 0.5s;
    /* font-weight: 600; */
    /* font-size: 30px; */
  }
  
  /* li.logo a {
    color: black;
  } */
  
  .fixed-nav li.logo {
    max-width: 60px;
  }
  
  nav a {
    text-decoration: none;
    padding: 10px;
    display: inline-block;
    color: #fff;
    transition: all 0.5s;
    font-weight: 500;
    font-size: 1.1rem;
    /* text-transform: uppercase; */
  }

  nav a:hover{
    transform: scale(1.1);
    color: aqua;
  }

   nav a:focus, nav a:active{
    transform: scale(1.1);
    color: aqua;
  }

  .active{
    background: #fff;
    color: #053B50;
    font-weight: 700;
    font-size: x-large;
    text-transform: lowercase;
    transition: all 1s;
  }
  
  .active:hover{
    transform: scale(0.9);
    color: #053B50;
  }

  .active:visited, .active:active, .active:focus{
    background-color: aqua;
    color: #053B50;
  }

  .nav-icons{
    color: #fff;
    padding: 5px;
  }


  /* ....................Eldership..................... */
.eldership-profile{
  background-color: #fff;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  margin-bottom: 70px;
}

.eldership-profile .title h2{
  font-size: 2.5rem;
  text-align: center;
  padding: 50px 0 10px 0;
  position: relative;
}

/* .eldership-profile .title h2::after{
  content: '';
  border-bottom: 4px solid #053B50;
  display: block;
  width: 20%;
  position: absolute;
  top: 40px;
  bottom: 0;
  left: 40%;
} */

/* .profiles{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  width: 100%;
  margin: 0 auto;
  margin-top: 40px;
  padding: 50px;
  background-color: aqua;
  gap: 30px;
  row-gap: 10px;
  justify-content: center;
  align-content: center;
  place-items: center;
} */

.profiles{
  display: flex;
  flex-wrap: wrap;
  /* flex-basis: calc(33.33% - 10px); */
  flex: 1;
  width: 100%;
  margin: 0 auto;
  margin-top: 40px;
  /* padding: 20px; */
  align-items: center;
  justify-content: center;
  place-items: center;
}

.img-container{
  padding: 30px;
  margin-right: 30px;
  margin-bottom: 70px;
  width: 150px;
  height: 350px;
  /* background-color: #053B50; */
  /* padding: 50px; */
}

.img-container p{
  text-align: center;
  font-size: 18px;
  /* margin-bottom: 50px; */
}

.img-container .elder-name{
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 10px;
  margin-top: 20px;
}

.eldership-profile img{
  display: block;
  /* border: 4px solid #eee; */
  width: 100%;
  border-radius: 50%;
  /* margin-top: -10px; */
}