/* @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap'); */

/* @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Londrina+Shadow&display=swap'); */

/* @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Sofia&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Flamenco:wght@300;400&family=Lato:wght@300;400;700;900&family=Sofia&display=swap');


/* font-family: 'Londrina Shadow', cursive;
color: #aaaaaa; */



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
  /* box-sizing: border-box; */
  background: #eee;
  /* font-family: 'helvetica neue'; */
  /* font-family: 'Lato', sans-serif; */
  font-family: 'Lato', sans-serif;
  /* font-size: 20px; */
  font-weight: 300;
  width: 100%;
}

.bg-showcase{
  width: 100%;
  min-height: 50vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)) ,url(img/bg\ image2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}


img{
    width: 100%;
    height: auto;
    /* border: 2px solid #ccc; */
    /* padding: 10px; */
}


  /* Styles for the slideshow container */
  /* Set maximum width, position, and center the container */
  .slideshow-container {
    height: 50vh;
    overflow: hidden;
    width: 100%;
    /* max-width: 1000px; */
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Styles for the next and previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with some transparency */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Styles for caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }

  /* Initially hide the text */
.slideshow-container .slideshow-text{
    opacity: 1;
    transition: opacity 0.3s; /* Add a transition for smooth fade-in/out */
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   color: #fff;
   text-align: center;
   font-size: 2rem;
  }

  .slideshow-container .slideshow-text h1{
    margin-bottom: 15px;
    text-shadow: 3px 4px 0 rgba(0,0,0,0.2);
    /* font-weight: 700; */
    font-weight: 300;
    font-size: 2.5rem;
    letter-spacing: 1px;
    word-spacing: 4px;
    font-family: Arial, Helvetica, sans-serif;
  }

  .slideshow-container .slideshow-text .slogan{
    font-weight: 300;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    /* font-family: 'Sofia', cursive; */
    /* font-family: 'Flamenco', cursive, georgia, Arial, Helvetica, sans-serif;  */
   }

  .slideshow-container .slideshow-text .announcements{
    font-size: 1.5rem;
    font-weight: 400;
  }

  .date-text{
    font-weight: 400;
  }
  
  /* When hovering over the slideshow container, make the text visible */
  /* .slideshow-container:hover .slideshow-text{
    opacity: 1;    
  } */
  
  
  /* Styles for number text (1/3, etc.) */
  .numbertext {
    color: #f2f2f2;
    font-size: 1.2rem;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Styles for the dots/bullets/indicators */

  .dots{
    position: absolute;
    top: 45%;
    right: 5%;
    transform: translate(-5%, -45%);
  }

  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    /* background-color: #bbb; */
    /* background-color: #fff; */
    /* background-color: #053B50; */
    background-color: aqua;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  /* Styles for the active dot and hover effect */
  .active, .dot:hover {
    /* background-color: #717171; */
    background-color: #fff;
    /* background-color: #053B50; */
  }
  
  /* Fading animation */
  /* Define a keyframe animation named 'fade' */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  /* Keyframes for the 'fade' animation */
  @keyframes fade {
    from {
      opacity: .4;
    }
    to {
      opacity: 1;
    }
  }
















  





  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .site-wrap {
    max-width: 700px;
    margin: 70px auto;
    background: #eee;
    padding: 40px;
    text-align: justify;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);
    transform: scale(0.98);
    transition: transform 0.5s;
  }
  
  body.fixed-nav .site-wrap {
    transform: scale(1);
  }
  
  /* header {
    text-align: center;
    height: 50vh;
    background: url(img/bg\ image.jpg) center center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
  } */
  
  /* h1 {
    color: white;
    font-size: 7vw;
    text-shadow: 3px 4px 0 rgba(0,0,0,0.2);
  } */
  
  nav {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    background: #053B50;
    top: 0;
    width: 100%;
    /* height: 50px; */
    transition:all 0.5s;
    position: relative;
    z-index: 1;
    box-shadow: 0 4px 0 rgba(0,0,0,0.5);
  }
  
  body.fixed-nav nav {
    position: fixed;
    box-shadow: 0 4px 0 rgba(0,0,0,0.1);
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
  }
  
  nav li {
    flex: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 0 30px; */
  }
  
  li.logo {
    max-width: 0;
    overflow: hidden;
    background: white;
    /* background: #333; */
    transition: all 0.5s;
    /* font-weight: 600; */
    /* font-size: 30px; */
  }
  
  /* li.logo a {
    color: black;
  } */
  
  .fixed-nav li.logo {
    max-width: 65px;
  }
  
  nav a {
    text-decoration: none;
    padding: 10px;
    display: inline-block;
    color: white;
    transition: all 0.5s;
    font-weight: 700;
    font-size: 1.2rem;
    text-transform: uppercase;
  }

  nav a:hover{
    transform: scale(1.1);
    color: aqua;
  }

   nav a:focus, nav a:active{
    transform: scale(1.1);
    color: aqua;
  }

  .active{
    background: #fff;
    color: #053B50;
    font-weight: 700;
    font-size: x-large;
    text-transform: lowercase;
    transition: all 1s;
  }
  
  .active:hover{
    transform: scale(0.9);
    color: #053B50;
  }

  .active:visited, .active:active, .active:focus{
    background-color: aqua;
    color: #053B50;
  }