*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background-image: url(img/bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: sans-serif;
}

.menu-bar{
    background-color: rgb(0, 100, 0);
    text-align: center;
}

.menu-bar ul{
    display: inline-flex;
    list-style: none;
    color: #fff;
}

.menu-bar ul li{
    width: 120px;
    padding: 15px;
    margin: 15px;
}

.menu-bar ul li a{
    text-decoration: none;
    color: #fff;
}

.active, .menu-bar ul li:hover{
    background-color: #2bab0d;
    border-radius: 3px;
}

.menu-bar .fa{
    margin-right: 5px;
}

.sub-menu-1{
    display: none;
}

.menu-bar ul li:hover .sub-menu-1{
    display: block;
    position: absolute;
    background-color: rgb(0, 100, 0);
    margin-top: 15px;
    margin-left: -15px;
}

.menu-bar ul li:hover .sub-menu-1 ul{
    display: block;
    margin: 10px;
}

.menu-bar ul li:hover .sub-menu-1 ul li{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    text-align: left;
}

.menu-bar ul li:hover .sub-menu-1 ul li:last-child{
    border-bottom: none;
}

.menu-bar ul li:hover .sub-menu-1 ul li a:hover{
    color: #b2ff00;
}

.fa-angle-right{
    float: right;
}

.sub-menu-2{
    display: none;
}

.hover-me:hover .sub-menu-2{
    position: absolute;
    display: block;
    margin-top: -40px;
    margin-left: 140px;
    background: rgb(0, 100, 0);
}